$red:      #FFB4AE;
$green:    #AEFFB6;
$blue:     #B4CEFF;
$yellow:   #FFE9AD;
$black-0:  #333333;
$black-1:  #444444;
$black-2:  #666666;
$black-3:  #888888;
$black-4:  #aaaaaa;
$black-5:  #cccccc;
$black-6:  #dddddd;
$black-7:  #eeeeee;
