$red:      #da5347;
$green:    #75ba50;
$blue:     #1b9edb;
$yellow:   #fad131;
$black-0:  #333333;
$black-1:  #444444;
$black-2:  #666666;
$black-3:  #888888;
$black-4:  #aaaaaa;
$black-5:  #cccccc;
$black-6:  #dddddd;
$black-7:  #eeeeee;
