$red:      #DB2828;
$green:    #21BA45;
$blue:     #2185D0;
$yellow:   #F2711C;
$black-0:  #333333;
$black-1:  #444444;
$black-2:  #666666;
$black-3:  #888888;
$black-4:  #aaaaaa;
$black-5:  #cccccc;
$black-6:  #dddddd;
$black-7:  #eeeeee;
